body {
    background-image: linear-gradient(to right, #000000, #4B28E7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  p {
    color: #fff;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 100px;
  }

  nav a {
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 80%;
  }

  h1 {
    margin-right: 100px;

  }



